<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//cdn.ably.io/lib/ably.min-1.js"></script>
    <script src="//cdn.ably.io/lib/vcdiff-decoder.min-1.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Ably delta compression demo</h1>
    <ul>
      <li><b>Status</b>: <p id="status">Hello</p></li>
      <li><b>Users online</b>: <p id="online">online</p></li>
      <li><b>Number of users online</b>: <p id="number-online">number online</p></li>
      <li><b>Compressed data</b>: <p id="data">data</p></li>
      <li><b>Uncompressed data</b>: <p id="uncompressedData">uncompressedData</p></li>
    </ul>

    <script>
      const ably = new Ably.Realtime({
        authUrl: "/auth",
        plugins: { vcdiff: vcdiffDecoder },
      });

      ably.connection.on("connecting", () => {
        document.getElementById("status").innerHTML = "Connecting.";
      });

      ably.connection.on("connected", () => {
        document.getElementById("status").innerHTML =
          "Connected to Ably using Auth server.";
      });

      const channel = ably.channels.get("ably-data-server", {
        params: {
          delta: "vcdiff"
        }
      });

      channel.subscribe("userlist", (message) => {
        console.log('message data: --> ' + message.data);
        document.getElementById("online").innerHTML = message.data;
        document.getElementById("number-online").innerHTML = message.data.length;
        ably.stats({ unit: 'minute' }, (err, resultPage) => {
          
          const data = resultPage.items[0].all.messages.data; 
          const uncompressedData = resultPage.items[0].all.messages.uncompressedData;
          
          document.getElementById("data").innerHTML = data;
          document.getElementById("uncompressedData").innerHTML = uncompressedData;
          
          console.log(resultPage.items[0]);     // all stats   
          console.log(data);
          console.log(uncompressedData);
        });
      });
      
    </script>
  </body>
</html>
